<a href="https://colab.research.google.com/github/spljoe/INSAID_Practice/blob/master/PythonBasicsQuestions_1536650294362_Joe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [3]:
print ('''Welcome to INSAID- International School of AI and Data Science''')

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [5]:
# Print “Hello, World!” to console
print("Hello, World!")

Hello, World!

In [13]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')


# For loop that iterates over sharks list and prints each string item
sharks = ['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']
cnt=len(sharks)
for i in range(cnt):
 # print (i)
  print(sharks[i])
print('End of Program')

hammer
white
fish
frilled
bullhead
requiem
End of Program

### 2.Write a Python Program to Add Two Numbers

In [35]:
# initialise two varaibles


# Add two numbers


# Display the sum
import math
a=0
b=0
a=input(a)
b=input(b)
print ( int(a)+int(b))
'''
mylist = [3,5,4,6,9]
sum = math. sum(mylist)
print(sum)
'''

020
032
52

'\nmylist = [3,5,4,6,9]\nsum = math. sum(mylist)\nprint(sum)\n'

### 3.Write a Python Program to Find the product of two numbers

In [0]:
# initialise two varaibles


# multiply two numbers


# Display the sum

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [40]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10

hght = 3
base = 10
area=0
area = (base * hght)/2
print(area)

15.0

### 5.Python Program to Swap Two Variables

In [38]:
# initialise two varaibles



# create a temporary variable and swap the values

a=10
b=20
a,b=b,a
print(a)
print(b)

20
10

## Section

### 1.Write a python program to print datatype of a varaible

In [41]:
a = 1


b = 2.0


c = 1+2j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [55]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print(a[2])

# Print the first 3 items
print(a[:3])

# Print the last 3 items
print(a[-3:])
print(a[-1:])

# Start to third last item
print(a[:-2])

35
[15, 20, 35]
[30, 35, 60]
[60]
[15, 20, 35, 40, 45, 30]

### 3.Converting Floats to Integers

In [58]:
b = 125.0
c = 390.8

# Print the Integer values
print(int(b))
print(int(c))

125
390

### 4.Converting Numbers to Strings

In [63]:
a = 10

print(a, "is of type", type(a))

# Convert the value in a to a string and then print
a=str(a)
print(a, "is of type: ", type(a))

10 is of type <class 'int'>
10 is of type:  <class 'str'>

### 5.Converting Strings to Numbers

In [65]:
a = "50"
b = "108"

# Find the difference between a and b
print('Difference between a and b: ',int(a)-int(b))

Difference between a and b:  -58

### 6.Converting list to Tuples

In [68]:
myList = ['request', 'source', 'repository', 'branch']

# Print myList to a Tuple
mytuple = tuple(myList)
print(mytuple)
print(type(mytuple))

('request', 'source', 'repository', 'branch')
<class 'tuple'>

### 7.Converting tuple to Lists

In [67]:
myTuple = ('blue', 'red', 'white')

# Print myTuple to a List
mylist = list(myTuple)
print(type(mylist))

<class 'list'>

### 8.converting strings to lists:

In [107]:
myString = 'INSAID'

# Convert myString to List
# mylist.append function
mylist = []
cnt=len(myString)
for i in range(cnt):
  mylist.append(myString[i])
print(mylist)
print(type(mylist))

['I', 'N', 'S', 'A', 'I', 'D']
<class 'list'>

### 9.Assign different data types to a varibles

In [135]:
# Try string, float, boolean, list, tuple, dictionary
a='10'
b= 10
c=10.0
d=True
e=[]
myDict = {'K1':[10], 'K2':[20]}
f=tuple([1,2,3,4])
print('a is {x1}'.format(x1=type(a)))
print('a is {}'.format(a))
print (f'a is {a}')
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(f)
print(f[1])

a is <class 'str'>
a is 10
a is 10
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
(1, 2, 3, 4)
2

## Section

### Print out a string that uses a formatter

In [139]:
# Print "john has 5 cars." using formatter
name = 'John'
num = 5
print('{} has {} cars'.format(name,num))
print('{1} has {0} cars'.format(num,name))

John has 5 cars
John has 5 cars

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [140]:
open_string = "john likes {}."

# Use format method to print the following output "john likes open source."
print(open_string.format("open source"))

john likes open source.

### Using Formatters with Multiple Placeholders

In [0]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."

In [0]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."

### Reordering Formatters with Positional and Keyword Arguments

In [1]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))
print("john the {1} has a pet {0}!".format("shark", "pilot fish"))

john the shark has a pet pilot fish!
john the pilot fish has a pet shark!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [0]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

### Python Program to Get String Input from User

In [82]:
#Enter any string and print it
print("Please enter your name: ")
Name = input()
print('Your Name is: ',Name)

Please enter your name:
Joe
Your Name is:  Joe

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [83]:
grade = 70
if grade > 65:
  print('You PASSED.')
else:
  print('You failed.')

You PASSED.

In [84]:
# Use only if
grade = 60
if grade > 65:
  print('You passed.')
if grade < 65:
  print('Sorry, failure!')

Sorry, failure!

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [78]:
# Use if else
bal = 522
if bal < 0:
  print("Account balance has gone below zero.")
else:
  print("You have a balance more than zero")

You have a balance more than zero

### Using Else if statement

In [79]:
bal = 522
if bal < 0:
  print("Account balance has gone below zero.")
elif bal<5000:
  print("Account balance has gone below minimum balance of 5000, please maintain minimum balance to avoid penalty and charges.")
else:
  print("You have sufficient account balance.")

Account balance has gone below minimum balance of 5000, please maintain minimum balance to avoid penalty and charges.

### Python program to print  Fibonacci series between 0 to 50.

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

### Python program to Sum all the items in a list

In [0]:
def sum_list(items):
    # Your code here
    return # Your variable
print(sum_list([20,12,20,22]))

### Python program to Remove duplicates from a list.

In [0]:
a = [10,20,30,40,50,60,70,40,80,50,40]

### Python program to Get the largest number from a list.

In [0]:
def max_num_in_list( list ):
    # Your code
    return # Maximum value
print(max_num_in_list([1, 12, 28, 0]))

### Concatenation of Tuples.

In [0]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print('''Your code here''')

### Nesting of Tuples.

In [0]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3  # Your code goes here
print(tuple3)

### Write a Python program to add an item in a tuple.

In [0]:
# Create a tuple & print


#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

# Adding items in a specific index

### Write a Python program to remove an item from a tuple.

In [0]:
# Create a tuple and print it

# Find a way to remove an item of the tuple (Hint: Use other data types)

### Python Program to Check if a given key already exists in a dictionary.

In [0]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  # Your code goes here
  return # Your observation
is_key_present(5)
is_key_present(9)

### Write a Python script to merge two Python dictionaries.

In [0]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

# Your code

### Write a Python function to find the Max of three numbers.

In [0]:
def max_of_two( x, y ):
    # Your code here
    return # Your answer
def max_of_three( x, y, z ):
    # Your code here use max_of_two
    return # Your answer
print(max_of_three(13, 26, -5))

### Write a Python program to reverse a string.

In [0]:
def string_reverse(str1):
    # Your code goes here
    return # Your answer
print(string_reverse('INSAID'))

### Write a Python function to calculate the factorial of a number

In [0]:
def factorial(n):
    # Your code here
    return # The answer
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

### Write a Python function to sum all the numbers in a list.

In [0]:
def sum(numbers):
    # Your code goes here
    return # Your Answer
print(sum((8, 2, 3, 0, 7)))

### Write a Python function to check whether a number is in a given range.

In [0]:
def test_range(n):
    # Your code
    return # Your answer 
test_range(5)

### Find the value of pi using math module.

In [0]:
# import statement example
# to import standard module math

import math

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [0]:
def file_read(fname):
    # Your code goes in here
    return

file_read('test.txt')

### Write a Python program to read a file line by line and store it into a list.

In [0]:
def file_read(fname):
        # Your code goes in here
        return

file_read('test.txt')

### A python program to create user-defined exception.

In [0]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

A New Exception occured: 0.42857142857142855

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [0]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    
    return # The value


discriminant()

The a value: 11
The b value: 111
The c value: 111

In [0]:
print('Hello World')

Hello World

In [0]:
print('What am I typing are you able to see?')